---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<main class="app-container pt-36">
		<h1 class="text-6xl pb-2 font-bold">關於我</h1>
	</main>
	<section class="app-container py-12 mb-8">
		<div
			class="prose prose-neutral prose-lg md:prose-xl dark:prose-invert prose-img:rounded-xl prose-figure:text-center prose-img:mx-auto"
		>
			<p>
				擁有 {new Date().getFullYear() - 2016} 年數位設計與網頁前端開發的跨領域經驗，具備全端整合的視野。
				可獨立完成視覺、介面設計至前端 HTML、CSS 切版，與部分 JS 程式撰寫。 善於轉換抽象概念於具體，將概念使用視覺化方式呈現，使人易於理解。
			</p>

			<hr />

			<h3>專業成就：</h3>
			<ul class="text-sm">
				<li>PitchCamp 2016 華人創業募資簡報巔峰對決 - 入選</li>
				<li>2016 一秒搞懂政府網站創意競賽 - 優秀團隊獎</li>
				<li>DevDays Asia 2016 @ Taipei 生產力應用APP 第一名</li>
				<li>生成式 AI 美術設計能力認證 - 中級</li>
				<li>
					<a
						href="https://im1010ioio.hashnode.dev/super-easy-css-contents"
						target="_blank"
						rel="noopener noreferrer"
						>90+ HTML/CSS 教學文章：超級簡單寫 CSS (Super Easy CSS)</a
					>
				</li>
			</ul>

			<hr />

			<h3>專案經驗：</h3>
			<ul class="text-sm">
				<li>
					<b>政府與公共建設：</b>
					<ul>
						<li>2020 高雄燈會官網</li>
						<li>北區水資源回收中心管理後台</li>
						<li>資展國際（資策會）內容市集 第二階段</li>
					</ul>
				</li>
				<li>
					<b>企業與金融：</b>
					<ul>
						<li>花王 WorkFlow 簽呈系統</li>
						<li>新光人壽/銀行 VIP 客戶專用 APP</li>
						<li>集英信誠官網</li>
						<li>陽明海運督導/稽核系統</li>
						<li>保誠人壽幸福秘境/醫健通問卷</li>
						<li>丞起聯合會計師事務所官網</li>
					</ul>
				</li>
				<li>
					<b>民生消費與醫療：</b>
					<ul>
						<li>7-11 SHOPMORE 包裹貨態查詢系統</li>
						<li>ezOxygen APP</li>
						<li>AstraZeneca 呼吸肺健康 APP</li>
						<li>Jobdone 營建派工 APP/後台</li>
						<li>Healthy Plate 飲食記錄 APP</li>
					</ul>
				</li>
				<li>
					<b>海外專案：</b>
					<ul>
						<li>澳洲 Bugden Allen Lawyers 房地產律師事務所數位簽名系統</li>
					</ul>
				</li>
			</ul>

			<hr />

			<h3>🧐 其他關於我的一些事情：</h3>
			<ul class="text-sm">
				<li>🧚‍♀️ 代名詞：She/her</li>
				<li>🖥️ 開發環境：明亮✨ + 音樂🎧</li>
				<li>
					🎁 工作設備：<a href="https://kit.co/im1010ioio" target="_blank"
						>我的 KIT</a
					>
				</li>
				<li>
					💬 座右銘：Life can only be understood backwards; but it must be lived
					forwards.
				</li>
				<li>💫 MBTI：INFP</li>
			</ul>
		</div>
	</section>
</BaseLayout>
