---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
	title="現況 - 陳依琳 YI-LIN CHEN"
	description="我最近的現況。這個頁面是依照 Derek Sivers 所推廣的 now 運動所建立的，用途就像是告訴一年沒見的朋友你最近在忙什麼。">
	<main class="app-container pt-36">
		<h1 class="text-6xl pb-4 font-bold">現況</h1>
		<p class="opacity-70 mb-2">最後更新時間：2026-01-13</p>

		<p>
			<span class="opacity-70">這個頁面是依照</span>
			<a
				href="https://nownownow.com/about"
				class="underline hover:text-primary dark:hover:text-primary-dark"
				target="_blank"
				rel="noopener noreferrer">Derek Sivers 所推廣的 now 運動</a
			>
			<span class="opacity-70"
				>所建立的，用途就像是告訴一年沒見的朋友你最近在忙什麼。</span
			>
		</p>
	</main>
	<section class="app-container py-12 mb-8">
		<div
			class="prose prose-neutral prose-lg md:prose-xl dark:prose-invert prose-img:rounded-xl prose-figure:text-center prose-img:mx-auto"
		>
			<h3>⏳ 最近的狀態</h3>
			<ul>
				<li>
					最近因為 bento 要關閉和 Hashnode 部落格怪怪的，所以決定來自架部落格。
				</li>
			</ul>
			<h3>💼 最近做的事</h3>
			<ul>
				<li>今年的 365 天的秒速日記 Notion 模板也上架囉！</li>
				<li>Super Easy CSS 終於快要完結啦！</li>
				<li>準備要規劃上海旅行</li>
			</ul>
			<h3>📺 最近聽的、看的</h3>
			<ul>
				<li>
					聽著 <a
						href="https://youtu.be/RmYdZZLOYA8?si=EzvfZL_MEeWKSGKO"
						target="_blank">YORUSHIKA 的 451</a
					>，讀了華氏 451 度這本書。1953 出版的書彷彿預言了今天。
				</li>
			</ul>
		</div>
	</section>
</BaseLayout>
